@using Abp.Extensions
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals

@model DM.UBP.Application.Dto.WeiXinManager.WeiXinConfigs.WeiXinConfigOutputDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("DownTXL") + ": " + Model.CorpName) : L("DownTXL")))
@section Styles
{
}
@section Scripts
{
}


<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#EntityInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("WeiXinManager_ConfigInfo")
                </a>
            </li>
            <li class="">
                <a href="#PermissionsTab" data-toggle="tab" aria-expanded="false">
                    @L("DownInfo")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="EntityInformationsTab">
                <form name="EntityOptInformationsForm" role="form" novalidate class="form-validation">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="CorpName" readonly="readonly" class="form-control@(Model.CorpName.IsNullOrEmpty() ? "" : " edited")" value="@Model.CorpName" required>
                        <label>@L("CorpName")</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="CorpId" readonly="readonly" class="form-control@(Model.CorpId.IsNullOrEmpty() ? "" : " edited")" value="@Model.CorpId" required>
                        <label>@L("CorpId")</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="TXL_Secret" readonly="readonly" class="form-control@(Model.TXL_Secret.IsNullOrEmpty() ? "" : " edited")" value="@Model.TXL_Secret" required>
                        <label>@L("TXL_Secret")</label>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="PermissionsTab">
                <div class="upload-tree">
                    @Html.Raw(ViewBag.TreeHtml)
                    @*<ul>
            <li id="123456" data-jstree='{"selected": "true"}'>
                测试1
                <ul>
                    <li id="333456" data-jstree='{"selected": "true"}'>
                        测试3
                    </li>
                    <li id="444456" data-jstree='{"selected": "true"}'>
                        测试4
                    </li>
                </ul>
            </li>
            <li id="222456" data-jstree='{"selected": "true"}'>
                测试2
            </li>
        </ul>*@
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn blue save-button"><i class="fa fa-save"></i> <span>@L("DownTXL")</span></button>
</div>
