//------------------------------------------------------------
// All Rights Reserved , Copyright (C)  
// 版本：1.0
/// <author>
///		<name></name>
///		<date>0001/1/1 0:00:00</date>
/// </author>
//------------------------------------------------------------

@using Abp.Extensions
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals

@model DM.UBP.Application.Dto.BackgroundJobManager.Schedulers.SchedulerOutputDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditScheduler") + ": " + Model.Name) : L("CreateScheduler")))
@section Styles
{
}
@section Scripts
{
}

<div class="modal-body">
   <div class="tabbable-line">
       <ul class="nav nav-tabs">
           <li class="active">
               <a href="#EntityInformationsTab" data-toggle="tab" aria-expanded="true">
                   @L("SchedulerInformations")
               </a>
           </li>
       </ul>
       <div class="tab-content">
           <div class="tab-pane active" id="EntityInformationsTab">
               <form name="EntityOptInformationsForm" role="form" novalidate class="form-validation">
                   @if (Model.IsEditMode)
                   {
                       <input type="hidden" name="Id" value="@Model.Id" />
                   }
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Schedulername" class="form-control@(Model.Schedulername.IsNullOrEmpty() ? "" : " edited")" value="@Model.Schedulername" required>
               <label>@L("Schedulername")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Jobgroup_Id" class="form-control@(Model.Jobgroup_Id.IsNullOrEmpty() ? "" : " edited")" value="@Model.Jobgroup_Id" required>
               <label>@L("Jobgroup_Id")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Job_Id" class="form-control@(Model.Job_Id.IsNullOrEmpty() ? "" : " edited")" value="@Model.Job_Id" required>
               <label>@L("Job_Id")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Trigger_Id" class="form-control@(Model.Trigger_Id.IsNullOrEmpty() ? "" : " edited")" value="@Model.Trigger_Id" required>
               <label>@L("Trigger_Id")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Status" class="form-control@(Model.Status.IsNullOrEmpty() ? "" : " edited")" value="@Model.Status" required>
               <label>@L("Status")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Lastexttime" class="form-control@(Model.Lastexttime.IsNullOrEmpty() ? "" : " edited")" value="@Model.Lastexttime" >
               <label>@L("Lastexttime")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Description" class="form-control@(Model.Description.IsNullOrEmpty() ? "" : " edited")" value="@Model.Description" >
               <label>@L("Description")</label>
           </div>

               </form>
           </div>
       </div>
   </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
