@using Abp.Web.Mvc.Extensions
@using DM.UBP.Web.Navigation
@using DM.UBP.Domain.Service.BackgroundJobManager
@{
    ViewBag.CurrentPageName = UbpMenu.BackgroundJobManagerLoggers;
}
@section Styles
{
    @*@Html.IncludeStyle("~/Areas/BackgroundJobManager/Views/Logger/Index.min.css")*@
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/BackgroundJobManager/Views/Logger/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Logger") </span> <small>@L("LoggerHeaderInfo")</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">@L("JobName")</label>
                <div class="input-group">
                    <input id="JobNameFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="">
                    <span class="input-group-btn">
                        <button id="GetLoggerBtn" class="btn default" type="button"><i class="icon-magnifier"></i></button>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">@L("DateRange")</label>
                    <input type="text" id="DateRange" class="form-control date-range-picker" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">@L("IsException")</label>
                    <select id="ExceptionSelectionCombo" name="ExceptionSelectionCombo" class="form-control selectpicker" data-none-selected-text="@L("PleaseSel")" data-live-search="true">
                        <option value="" selected="selected"></option>
                        <option data-icon="true" value="true"><i class="true"></i>是</option>
                        <option data-icon="false" value="false"><i class="false"></i>否</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">@L("JobType")</label>
                    <select id="JobTypeSelectionCombo" name="JobTypeSelectionCombo" class="form-control selectpicker" data-none-selected-text="@L("PleaseSel")" data-live-search="true">
                        <option value="" selected="selected"></option>
                        @foreach (var jobGroup in ViewBag.JobGroups)
                        {
                            <option data-icon="@jobGroup.Value" value="@jobGroup.Value"><i class="@jobGroup.Value"></i>@jobGroup.DisplayText</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="margin-top:26px">
                    <button id="RefreshButton" class="btn btn-default" style="display: block; width: 100%"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                </div>
            </div>
        </div>

        <div id="LoggerTable"></div>
    </div>
</div>
