@*
    //------------------------------------------------------------
    // All Rights Reserved , Copyright (C)
    // 版本：1.0
    /// <author>
    ///		<name></name>
    ///		<date>0001/1/1 0:00:00</date>
    /// </author>
    //------------------------------------------------------------
*@

@using Abp.Web.Mvc.Extensions
@using DM.UBP.Web.Navigation
@using DM.UBP.Domain.Service.ReportManager
@{
   ViewBag.CurrentPageName = UbpMenu.ReportManagerCategories;
}
@section Styles
{

   @*@Html.IncludeStyle("~/Areas/ReportManager/Views/Category/Index.min.css")*@
}
@section Scripts
{
   @*@Html.IncludeScript("~/Areas/ReportManager/Views/Category/Index.js")*@
}

@WebReportGlobals.Scripts()
@WebReportGlobals.Styles()

<div class="row margin-bottom-5">
   <div class="col-xs-6">
       <div class="page-head">
           <div class="page-title">
               <h1>
                   <span>@L("Category") </span> <small>@L("CategoryHeaderInfo")</small>
               </h1>
           </div>
       </div>
   </div>
   <div class="col-xs-6 text-right">
       @if (IsGranted(AppPermissions_ReportManager.Pages_ReportManager_Categories_Create))
       {
           <button id="CreateNewCategoryButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCategory")</button>
       }
   </div>
</div>
<div class="portlet light margin-bottom-0">
   <div class="portlet-body">
       <div id="CategoryTable">
           @ViewBag.WebReport.GetHtml();
       </div>
   </div>
</div>
