@*//------------------------------------------------------------
    // All Rights Reserved , Copyright (C)
    // 版本：1.0
    /// <author>
        ///		<name></name>
        ///		<date>0001/1/1 0:00:00</date>
        ///
    </author>
    //------------------------------------------------------------*@

@using Abp.Extensions
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals
@using DM.UBP.Domain.Entity

@model DM.UBP.Application.Dto.ReportManager.Categories.ReportCategoryOutputDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCategory") + ": " + Model.CategoryName) : L("CreateCategory")))
@section Styles
{
}
@section Scripts
{
}

<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#EntityInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("CategoryInformations")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="EntityInformationsTab">
                <form name="CategoryForm" role="form" novalidate class="form-validation">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="CategoryName" class="form-control@(Model.CategoryName.IsNullOrEmpty() ? "" : " edited")" value="@Model.CategoryName"  required maxlength="@StringMaxLengthConst.MaxStringLength100">
                        <label>@L("CategoryName")</label>
                    </div>
                    @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="ParentId" class="form-control@(Model.ParentId == 0 ? "" : " edited")" value="@Model.ParentId">
                        <label>@L("ParentId")</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="Code" class="form-control@(Model.Code.IsNullOrEmpty() ? "" : " edited")" value="@Model.Code">
                        <label>@L("Code")</label>
                    </div>*@

                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
