@using Abp.Extensions
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals

@model DM.UBP.Application.Dto.ReportManager.Parameters.ReportParameterOutputDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditReportParameter") + ": " + Model.ParameterName) : L("CreateReportParameter")))
@section Styles
{
}
@section Scripts
{
}

<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#EntityInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("ReportParameterInformations")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="EntityInformationsTab">
                <form name="ParameterForm" role="form" novalidate class="form-validation">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <input type="hidden" name="Template_Id" value="@Model.Template_Id" />
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="LabelName" class="form-control@(Model.LabelName.IsNullOrEmpty() ? "" : " edited")" value="@Model.LabelName" required>
                        <label>@L("LabelName")</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="ParameterName" class="form-control@(Model.ParameterName.IsNullOrEmpty() ? "" : " edited")" value="@Model.ParameterName" required>
                        <label>@L("ParameterName")</label>
                    </div>

                    <div class="form-group">
                        <label for="ParamterType">@L("ParamterType")</label>
                        <select id="ParamterType" name="ParamterType" class="form-control bs-select" data-live-search="true">
                            @foreach (var item in ViewBag.ParamterTypes)
                            {
                                <option data-icon="@item.Value" value="@item.Value" @(item.IsSelected ? "selected=\"selected\"" : "")><i class="@item.Value"></i>@item.DisplayText</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="UiType">@L("UiType")</label>
                        <select id="UiType" name="UiType" class="form-control bs-select" data-live-search="true">
                            @foreach (var item in ViewBag.UiTypes)
                            {
                                <option data-icon="@item.Value" value="@item.Value" @(item.IsSelected ? "selected=\"selected\"" : "")><i class="@item.Value"></i>@item.DisplayText</option>
                            }
                        </select>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <textarea class="form-control maxlength-handler edited" rows="4" type="text" name="DynamicSql">@Model.DynamicSql</textarea>
                        <label>@L("DynamicSql")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="number" name="SortId" class="form-control@(Model.SortId.ToString().IsNullOrEmpty() ? "" : " edited")" value="@Model.SortId" required>
                        <label>@L("SortId")</label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
