@using Abp.Extensions
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals

@model DM.UBP.Application.Dto.BackgroundJobManager.Triggers.TriggerOutputDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTrigger") + ": " + Model.TriggerName) : L("CreateTrigger")))
@section Styles
{
}
@section Scripts
{
}

<div class="modal-body">
   <div class="tabbable-line">
       <ul class="nav nav-tabs">
           <li class="active">
               <a href="#EntityInformationsTab" data-toggle="tab" aria-expanded="true">
                   @L("TriggerInformations")
               </a>
           </li>
       </ul>
       <div class="tab-content">
           <div class="tab-pane active" id="EntityInformationsTab">
               <form name="EntityOptInformationsForm" role="form" novalidate class="form-validation">
                   @if (Model.IsEditMode)
                   {
                       <input type="hidden" name="Id" value="@Model.Id" />
                   }
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Triggername" class="form-control@(Model.TriggerName.IsNullOrEmpty() ? "" : " edited")" value="@Model.TriggerName" required>
               <label>@L("TriggerName")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Cronstr" class="form-control@(Model.CronStr.IsNullOrEmpty() ? "" : " edited")" value="@Model.CronStr" required>
               <label>@L("CronStr")</label>
           </div>
           <div class="form-group form-md-line-input form-md-floating-label no-hint">
               <input type="text" name="Description" class="form-control@(Model.Description.IsNullOrEmpty() ? "" : " edited")" value="@Model.Description" >
               <label>@L("Description")</label>
           </div>

               </form>
           </div>
       </div>
   </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
