@using Abp.Extensions
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals

@model DM.UBP.Application.Dto.BackgroundJobManager.Job_RPTEmails.Job_RPTEmailOutputDto

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditJob_RPTEmail") + ": " + Model.Job_RPTEmailName) : L("CreateJob_RPTEmail")))
@section Styles
{
}
@section Scripts
{
}

<div class="modal-body">
    <div class="tabbable-line">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#EntityInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Job_RPTEmailInformations")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="EntityInformationsTab">
                <form name="EntityOptInformationsForm" role="form" novalidate class="form-validation">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="Job_Rptemailname" class="form-control@(Model.Job_RPTEmailName.IsNullOrEmpty() ? "" : " edited")" value="@Model.Job_RPTEmailName" required>
                        <label>@L("Job_RptEmailName")</label>
                    </div>
                    <div class="form-group">
                        <label for="BGJM_JobGroup_Id">@L("Bgjm_Jobgroup_Id")</label>
                        <select disabled="disabled" id="BGJM_JobGroup_Id" name="BGJM_JobGroup_Id" class="form-control bs-select" data-live-search="true">
                            @foreach (var jobGroup in ViewBag.JobGroups)
                            {
                                <option data-icon="@jobGroup.Value" value="@jobGroup.Value" @(jobGroup.IsSelected ? "selected=\"selected\"" : "")><i class="@jobGroup.Value"></i>@jobGroup.DisplayText</option>
                            }
                        </select>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="Emails" class="form-control@(Model.Emails.IsNullOrEmpty() ? "" : " edited")" value="@Model.Emails" required>
                        <label>@L("Emails")</label>
                    </div>
                    <div class="form-group">
                        <label for="Template_Id">@L("Template_Id")</label>
                        <select id="Template_Id" name="Template_Id" class="form-control bs-select" data-live-search="true">
                            @foreach (var reportTemplates in ViewBag.ReportTemplates)
                            {
                                <option data-icon="@reportTemplates.Value" value="@reportTemplates.Value" @(reportTemplates.IsSelected ? "selected=\"selected\"" : "")><i class="@reportTemplates.Value"></i>@reportTemplates.DisplayText</option>
                            }
                        </select>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="Parameters" class="form-control@(Model.Parameters.IsNullOrEmpty() ? "" : " edited")" value="@Model.Parameters">
                        <label>@L("Parameters")  例如：{'参数名称':'参数值'}  #sysDate#可以表示当前时间</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="Description" class="form-control@(Model.Description.IsNullOrEmpty() ? "" : " edited")" value="@Model.Description">
                        <label>@L("Description")</label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
